[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NEXT_TELEMETRY_DISABLED = "1"
  NEXT_PUBLIC_SUPABASE_URL = "https://nvtrkpdmslfgwfrbprok.supabase.co"
  NEXT_PUBLIC_SUPABASE_ANON_KEY = "sb_publishable_2N-v1pUVdd0P8mvoFqv_bQ_cqXgXO9u"
